ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: rgb(236, 190, 39);
}

li {
    float: left;
}

li a {
    display: block;
    color: #575757;
    font:14px Roboto-Medium;
    text-align: center;
    padding: 11px 12px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #7b73a0;
}

.club
{
height:12px;
}