.baby
{
        font-size: 24px;
        color: #363636;
        margin-left: 551px;
        font-family: SourceSansPro-Regular;
        font-weight: 700;
}

.main_div
{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
